# mac
*.DS_Store
.fseventsd
.AppleDouble
.Spotlight-V100
.LSOverride
.Trashes

# Linux
*~
.Trash-*

# ide
.idea/

# vim
[._]sw[a-p]
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
Session.vim

# build directory
public/

# dependency directories
node_modules/

# npm cache directory
.npm/

# ancillary
/research
/archives

# project
build.conf.sh
